* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.topbar{
    display: flex;
    width: auto;
    height: 60px;
    padding: 25px;
    background: linear-gradient(262deg, #ff7854, #fa468e);
}

.topbar_header{
    text-decoration: none;
    color: black;
    height: 100px ;
    width: 100px;
    margin-left: 41%;
    margin-top: 10px;
    position: relative;
}

.topbar_image{
    size: 1em;
    position: relative;
    margin-left: 39%;
}

.topbar_btn{
    font-size:50px;
    cursor:pointer;
}

.sidenav {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 9.3%;
    left: 0;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
  
.sidenav a {
    padding:  32px;
    text-decoration: none;
    font-size: 50px;
    color: rgb(255, 250, 250);
    display: block;
    transition: 0.3s;
    font-size: 60px;
}
  
.sidenav a:hover{
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 1.5%;
    left: 0px;
    font-size: 50px;
    margin-left: 0px;
    border-radius: 70px;
    color: rgb(255, 255, 255);
}
  

.left-container{
    display: block;
    margin: 10px;
    float: left;
    width: 19%;
    height: 90%;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.5);
}

/* center container with dinosaur card profile */
.center_container{
	width: 40%;
	height: 80%;
    float: left;
    margin-left: 15%;
    padding: 35px;
}

.modalcard {
    margin-left: 150px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    width: 400px;
    height: 520px;
}
  
.modalcard-image {
    margin :10px;
    grid-area: image;
    width: 390px;
    height: 250px;
}
.modalcard-text {
    grid-area: text;
    width: 250px;
    padding: 10px;
    margin: 70px;
}
.modalcard-stats {
    grid-area: stats; 
    width: 400px;
    margin-top:30px;
    height: 70px;
}
  
.modalcard-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.modalcard-text .date {
    color: rgb(0, 0, 0);
    font-size:13px;
}
.modalcard-text strong {
    color: rgb(0, 0, 0);
    font-size:17px;
    font-weight: bold;
}

.modalcard-text span {
    color: rgb(12, 10, 10);
    font-size:16px;
    font-weight: 400;
}
.modalcard-text hr {
    height: 1px;
    border: 1px solid black;
    border-radius: 70px;
}

.modalcard-text h2 {
    margin-top:0px;
    font-size:28px;
}
  
.modalcard-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
}
  
.modalcard-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}
  
.buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 230px;
}
  
.buttons .no i {
    color: #fd2e79;
    font-size: 33px;
}
  
.buttons .star i {
    color: #2bb1ff;
    font-size: 22px;
}
  
.buttons .heart i {
    color: #11e298;
    font-size: 32px;
}
  
.buttons .no,
.buttons .star,
.buttons .heart {
      background-color:#fff;
      width: 70px;
      height: 70px;
      box-shadow: 0 1px 10px rgba(0, 20, 20, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 70px;
      margin: 5px;
    transition: 0.2s transform;
}
  
.buttons .no:hover,
.buttons .star:hover,
.buttons .heart:hover {
      transform: scale(1.1);
}
  
.buttons .star {
      width: 60px;
      height: 60px;
}

  /*Rigth container with map*/
.right-container{
    display: block;
    position: flex;
	width: 39%;
	height: 85%;
    float: left;
}

#map { 
    width: 76%;   /* Dimensions of the map element */
    height: 90%;
    margin:5%;
    display: block;
    box-shadow: 0 1px 10px rgb(7, 7, 7);
}

.dot {
    cursor: default;   /* Changes the look of the cursor when it hovers the element */
    fill: #0082a3;   /* Color */
    fill-opacity: 0.6;   /* Transparency, from 0 (invisible) to 1 (opaque) */
    stroke:  #004d60;;   /* Border color */
    stroke-width: 1;   /* Border width in pixels */
}

/* CSS code for the element that has the id points_container */

#points_container {
    position: absolute;
    width: 100%;   /* Width of the element is 100% of the width of its parent */
    height: 100%;   /* Height of the element is 100% of the width of its parent */
}

/*Slidebar*/

.slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 30px;
    background: #ffffff;
    box-shadow: 0 1px 10px rgb(139, 138, 138);
	border-radius: 70px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    background: #000000;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
}


.filterDiv {
    float: left;
    background-color: #ffffff;
    color: #000000;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}
  
.show {
    display: block;
}
  
.container {
    margin-top: 20px;
    overflow: hidden;
}